@import './styles/vars.scss';
@import './styles/reset.scss';
@import './styles/base';

body {
  font-family: $font-open-sans;

  overflow-x: hidden;
  font-size: 16px;
  max-width: 100%;
}

.container {
  display: flex;
  max-width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  flex-direction: column;
  justify-content: space-between;
}

a {
  cursor: pointer;
  color: inherit;
  transition: move all 0.2s ease-in;
}
.theme{
  transition: 1s all ease;
}

.light {
  background-color: $white;
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $gray;
}
